<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <description>URL del database</description>
        <param-name>url</param-name>
        <param-value>jdbc:derby://localhost:1527/PizzeriaDB</param-value>
    </context-param>
    <context-param>
        <description>utente del DB</description>
        <param-name>user</param-name>
        <param-value>administrator</param-value>
    </context-param>
    <context-param>
        <description>Password dell'utente administrator</description>
        <param-name>passwordAdministrator</param-name>
        <param-value>password</param-value>
    </context-param>
    <servlet>
        <servlet-name>Registrazione</servlet-name>
        <servlet-class>myServlets.Registrazione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>myServlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>collaboration.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registrazione</servlet-name>
        <url-pattern>/Registrazione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
