root { 
    display: block;
}

html {
    height: 100%;
}

body {
    height: 90%;
    background-color: #ff9933;
}

/*.wrapper {
    height: 90%;
    width:  60%;
    margin-left: 20%;
    background-color: white;
    border: 2px solid black;
    float: left;
}*/

header {
    width: 100%;
    float: left;   
}

article {
    width: 50%;
    background-color: white;
    float: left;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;  
    height: 80%;
}

aside {
    width: 24%;
    margin-top: 1%;
    margin-left: 1%;
    /*margin-right: 10%;*/
    //background-color: white;
    //border: 2px solid black;
    float: left;
    text-align: center;
}

nav{
    width: 24%;
    float: left;
    //background-color: white;
}


.articleCenter{
    margin-left: 24%;
}

.titolo {
    width: 100%;
    text-align: center;
    font: 300% Comic Sans MS;
    color: cornflowerblue;
}

.sottotitolo {    
    width: 100%;
    text-align: center;
    font: 170% Georgia;
    color: cornflowerblue;
    margin: 15px;
}

.intestazione{
    width: 100%;
    text-align: center;
    font: 150% Georgia;
    color: darkblue;
}

.separatore {
    size: 2px;
    margin-bottom: 5%;
}

.divMain {
    text-align: center;
}

.tblReg {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: left;
}

.tblBordi {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    border-collapse: collapse;
    border: 2px solid cornflowerblue;
}

.tblBordi tr{
    border: 2px solid cornflowerblue;
}

.tblBordi th{
    border: 2px solid cornflowerblue;
    font-size: 150%;
    font-family: Helvetica;
    color : red;
}

.tblBordi td{
    border: 2px solid cornflowerblue;
    font-size: 120%;
    color: green;
}

.error {
    color: red;
}

.inputLogin {
    max-width: 70%;
    min-width: 35%;
}

.centered {
    text-align: center;
    margin: auto 0;
}

.tblLogin {    
    text-align: left;
    margin-left: 15%;
}

.divAside{
    alignment-adjust: central;
}