root { 
    display: block;
}

html {
    height: 100%;
    overflow:visible;
}

body {
    height:99%;
    width:99%;
    background:url("images/sfondo2.jpg");
    background-size: 100%;
    background-attachment: scroll;
    background-repeat: no-repeat;
    overflow:visible;
}

header {
    width: 100%;
    float: left;   
}

article {
    width: 50%;
    float: left;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-radius: 10px 10px 10px 10px;
    overflow:visible;
    background-color: #FFF;
    opacity: 0.8;
}

aside {
    width: 23%;
    float: left;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-radius: 10px 10px 10px 10px;
    margin-left: 1%;
    text-align: center; 
    background-color: #FFF;
    opacity: 0.8;
}

nav{
    width: 23%;
    float: left;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-radius: 10px 10px 10px 10px;
    margin-right: 1%;
    background-color: #FFF;
    opacity: 0.8;
}

footer{
    width:100%;
    float:left;
    margin-top:2%;
}

.articleCenter{
    margin-left: 24%;
}

.titolo {
    width: 100%;
    text-align: center;
    font: 300% Comic Sans MS;
    color: red;
}

.sottotitolo {    
    width: 100%;
    text-align: center;
    font: 170% Georgia;
    color: blue;
    margin: 15px;
}

.intestazione{
    width: 100%;
    text-align: center;
    font: 150% Georgia;
    color: blue;
}

.separatore {
    size: 2px;
    margin-bottom: 5%;
}

.divMain {
    text-align: center;
}

.tblReg {
    width: 40%;
    margin-left: 45%;
    margin-right: 50%;
    margin-bottom: 2%;
    text-align: left;
}

.tblBordi {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    text-align: center;
    border-collapse: collapse;
    border: 2px solid cornflowerblue;
}

.tblBordi tr{
    border: 2px solid cornflowerblue;
}

.tblBordi th{
    border: 2px solid cornflowerblue;
    font-size: 150%;
    font-family: Helvetica;
    color : red;
}

.tblBordi td{
    border: 2px solid cornflowerblue;
    font-size: 120%;
    color: green;
}

.error {
    color: red;
}

.inputLogin {
    max-width: 70%;
    min-width: 35%;
}

.centered {
    text-align: center;
    margin: auto 0;
}

.tblLogin {    
    text-align: left;
    margin-left: 15%;
}

.divAside{
    alignment-adjust: central;
}

.textArea{
    margin-left:35%;
    width:200px;
    height:200px;
}

.buttonSX{
    margin-left:25%;
    float:left;
}

.buttonDX{
    margin-right:25%;
    float:right;
}

.image{
    height: 150px;
    width: 200px;
}

.divFooterDX{
    width: 15%;
    float: right;
    color: darkred;
    margin-right:5%;
    background-color: #FFF;
    opacity: 0.8;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-radius: 10px 10px 10px 10px;
}

.divFooterSX{
    width: 15%;
    float: left;
    margin-left:5%;
    color: darkred;
    background-color: #FFF;
    opacity: 0.8;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-radius: 10px 10px 10px 10px;
}

.sottotitoloF {    
    width: 100%;
    font: 100% Georgia;
    color: blue;
}

.liColored{
    color:red;
    font-family:Verdana bold sans-serif;
    font-size:120%;
    font-weight: bold;
}

.tlbSelect{
    width:40%;
    margin-left:30%;
    margin-right:30%;
    margin-bottom: 7px;
    float:left;
}

.textbox{
    border:0px;
    background-color: transparent;
    font-size: 100%;
    color: green;
    text-align:center;
}